
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html {
    scroll-behavior: smooth;
}


.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: gold;
}

/* HEADER / HERO */
header {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1566073771259-6a8506099945") no-repeat center center/cover;
    position: relative;
    padding-top: 80px; /* navbar */
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;  
}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    padding: 12px 30px;
    background: gold;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: white;
}

/* CHAMBRES */
.rooms {
    padding: 80px 10%;
    background: #f5f5f5;
    text-align: center;
}

.rooms h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.room-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.room-card {
    background: white;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.room-card:hover {
    transform: translateY(-10px);
}

.room-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.room-info {
    padding: 20px;
}

.room-info h3 {
    margin-bottom: 10px;
}

.room-info p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.price {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    color: #2a5298;
}

.reserve-btn {
    padding: 10px 20px;
    border: none;
    background: gold;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.reserve-btn:hover {
    background: black;
    color: white;
}
